 
 body{
  font-family: sans-serif, Helvetica, sans-serif;

}
a{
  text-decoration: none;
}
/*xây dụng banner*/

#banner{
    filter: brightness(50%);
}
.z-index1{
    z-index: 1;
}
/*xây dựng navbar*/
.navbar{
    padding: 0;
}
#navbar .container{
  display: flex;
  justify-content: center;
}
.navbar a:hover, .navbar a:active {
    background-color: rgb(57, 170, 127);
   color: aliceblue;
}
.navbar i{
        color: rgb(0, 145, 255) ;
        padding-right: 7px;
}
.navbar a{
       margin: 0 ;
       font-size: 17px;
       padding: 14px 65px;
       border-left: 1px solid rgb(200, 195, 195);
}
.navbar a:last-child{
  border-right: 1px solid rgb(200, 195, 195);
}
/*xây dựng thông tin cá nhân*/

#target{
    flex-basis: 50%;
}
#target h2{
    margin-top: 60px;
}
#personal-info{
    flex-basis: 50%;
    background-color: rgb(221, 208, 193);

}
#personal-info h2{
    margin-top: 60px;
  }

/*xây dựng phần thông tin nghề nghiệp*/ 
#ch li::marker{
    font-size: 2em;
    color: rgb(0, 145, 255) ;
    border:1px solid white;
  
}
.blue{
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: rgb(0, 145, 255) ;
}
.gray{
    background-color: gray;
    display: inline-block;
    width: 45px;
    height: 2px;
}
.fw-bold{
    margin-bottom: -5px;
}
.thongtin i{
    color: darkgray;
}
#ch .card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
#ch h4{
  font-size: 20px;
}
  /*xây dựng giải thưởng*/

.chungchi3{
    border-top:2px solid  #d6c08d;
}
.chungchi2{
    border-left:2px solid  #d6c08d;
}
.chungchi h3{
  font-size: 18px;
}
.chungchi img{
  margin-right: 20px;
}
   /*xây dựng dự án*/
 #duan img{
    width: 100%;
}
#duan .card-body{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
   #duan h3{
    font-size:20px;
   }
#duan i{
    color: rgb(0, 145, 255) ;
}
#duan tr{
    border-top:1px solid black;
}
.btn{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
  .develop{
    display: flex;
    flex-direction: column;
  justify-content:center;
  align-items: center;
  }
  .develop i{
    color: black;
  }
  
/*footer*/
.footer i{
   font-size:30px ;
   color: rgb(0, 145, 255) ;
}
.footer li{
    font-size:20px ;
    padding: 30px 70px;
  text-align: center;
}
.footer .container{
    text-align: center;
    justify-content: center;
}

#footer{
 
}
/*dùng media*/


/* mobile*/
@media (min-width: 0px) and (max-width: 768px){
#anhcanhan{
    display: none;
}
.avatar{
    display: none;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  padding: 0;
  
}
.navbar a{
   border: none;
    margin: 0;
   font-size: 12px;
padding: 10px 0px;
background-color: yellow;
text-align:start;
}
.navbar i{
    text-align: left;
    margin: 0;
    padding: 0;
}
.navbar a:last-child{
    border: none;
}
/*thông tin cá nhân*/
#thongtincanhan{
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
#target h2, #personal-info h2{
  font-size: 25px;
  
}
/*kinh nghiệm*/
#ch p{
  font-size: 12px;
}
#ch h2{
  font-size: 20px;
}
#ch h4{
  font-size: 15px;
}
/*chứng chỉ- giải thưởng*/
.chungchi2{
  border-left: none;
  border-top: 2px solid  #d6c08d;
  padding-top: 35px;
}
.chungchicon{
  display:flex;
  flex-direction: column;
}
.chungchicon p{
  font-size: 12px;
}

.chungchicon h3{
  font-size: 15px;
}
.chungchi1, .chungchi2, .chungchi3{
  margin-left: 80px;
}
/*dự án*/
.btn{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
 
}

.develop{
  display: flex;
  flex-direction: row;
 column-gap: 5px;
}
.develop p{
  margin-top: 20px;
}
#duan h3{
  font-size: 15px;
}
#duan table, #duan p{
  font-size: 12px;
}
 /*footer*/
 .footer{
  padding-top: 40px;
 }
.footer ul{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
   }
.footer li{
font-size: 12px;
display: flex;
align-items: center;
justify-content: center;
}
.footer i{
    font-size: 20px;
}
.footer a{
  margin-top: 10px;
  margin-left: 5px;
}
}